@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* 
body {

     /*todos os elementos*/

    /* padding: 0px; /*magem interna */
    /* margin: 0px; /* margem externa */
    /* box-sizing: border-box; /* muda a estrutura de espacamento */
    /* font-family:inter; */ 
    

/* }  */



.titulo {

    font-weight: 400;
    font-size: 76px;
    margin-bottom: 16px;
   
}

.robo-image {

    
    background-image:url(/imgs/robo-GPT.png);
    background-size: cover;
    background-position:0px, 100px;
    width: 50vw; /*50% do tamanho da largura do monitor*/
    height: 100vh; /*100% do tamanho da altura da tela*/
}

.page-container {
   
    display: flex;/*um ao lado do outro*/

}

.login-container {

   
    width: 50vw; /*50% do tamanho da largura do monitor*/
    height: 100vh; /*100% do tamanho da altura da tela*/
    
    /*kit sobrevivencia da centralizacao*/
    display: flex; /*ativar o flex*/
    flex-direction: column; /*muda o flex para colunas*/
    align-items: center; /*centralizar horizontalmente*/
    justify-content: center;/*centralizar verticalmente*/

}

.clsse { /* com ponto antes*/

}

#id {/* com hashtag antes*/

}

img { /*sem nenhum prefixo*/

}

.login-container img { 

    height: 60px;

}

.inpt { 

    padding: 18px;
    background-color: #f7f9fb;
    width: 377px;
    border: 1px solid #ccc; 
    border-radius: 10px;
    margin-bottom: 16px;

}  

.btt { 
    cursor: pointer;
    padding: 20px;
    margin-bottom: 16px;
    background-color: #1C1C1C;
    color: #ffffff;
    height: 56px;
    width: 377px;
    border-radius: 12px;
    border: none;
  
}  


.erro {
  color: red;
  font-weight: bold;
  font-size: 12px;
  transform: translateY(-10px);
}

